*{
  margin: 0;
  padding: 0;
  font-family: "General Sans ";
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
}
#main{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(121, 222, 121);
}
#pannel{
  overflow: hidden;
  height: 80%;
  width: 80%;
  border-radius: 10px;
  background-color: #fff;
}
#p-top{
  padding: 0 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: rgb(69, 138, 69);
}
.elem{
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.elem h2{
  font-weight: 200;
  font-size: 20px;
}
.box{
  color: rgb(50, 141, 50);
  font-weight: 100;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #fff;

}
#p-btm{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 30px;
  height: calc(100% - 100px);
  width: 100%;
}
.bubble{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 23px 1px;
  background-color: rgb(80, 151, 80);
  color: #fff;
  border-radius: 50%;
  font-weight: 500;
}
.bubble:hover{
  cursor: pointer;
  background-color: rgb(51, 79, 51);
}